<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<a href={% url 'authorization:logout' %}>
{#          <img src="https://e7.pngegg.com/pngimages/214/521/png-clipart-computer-icons-login-nectar-angle-text.png"#}
          <img src="../../../django_crm/templates/media/logout2.png"

{#               width="50"#}
{#   height="50" #}
               alt="Logout"></a>
    {% block body %}
    {% endblock %}
</body>
</html>