{% extends 'base.html' %}

{% block title %}
    Confirm delete {{ object.pk }}
{% endblock %}

{% block name_page %}
    Confirm
{% endblock %}

{% block body %}
    <h3>Are you sure you want to delete</h3>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button type="submit">Delete</button>
        </form>
    </div>
    <br>
    <a href="{% url 'clients:client_details' pk=object.pk %}"><button>Back</button></a>
{% endblock %}

