{% extends 'base.html' %}

{% block title %}
    Client list
{% endblock %}

{% block name_page %}
    Clients
{% endblock %}

{% block body %}
    <h3>List:</h3>
    <div>
        <ol>
            {% for client in object_list %}
                <li>
                    <div class="list_obj">
                        <div class="list_obj_name">
                            <a href="{% url 'clients:client_details' pk=client.pk %}">{{ client.name }}</a>
                        </div>
                        <div>
                            <a href="{% url 'clients:client_to_active' pk=client.pk %}">
                                <button class="button">To active</button>
                            </a>
                        </div>
                        <div>
                            <a href="{% url 'clients:client_archived' pk=client.pk %}">
                                <button class="button button_red">Delete</button>
                            </a>
                        </div>
                    </div>
                </li>
            {% empty %} No clients yet
            {% endfor %}
        </ol>
    </div>

    {% if perms.services.add_service %}
        <div>
            <br>
            <a href="{% url 'clients:client_create' %}">
                <button class="button">Create</button>
            </a>
        </div>

        {##}
        {#        <div>#}
        {#            <a href="{% url 'clients:client_create' %}">Create a new client </a>#}
        {#        </div>#}
    {% endif %}

{% endblock %}
