{% extends 'base.html' %}

{% load i18n %}

{% block title %}
    {% translate 'Client to active' %} #{{ object.pk }}
{% endblock %}

{% block name_page %}
    Client to active
{% endblock %}

{% block body %}
    <div>
        {% translate 'Name: ' %} <strong>{{ object.name }}</strong>
        <p>{% translate 'Phone:' %} <em> {{ object.phone }}</em></p>
        <p>{% translate 'Email:' %} <em> {{ object.email }}</em></p>
        <p>{% translate 'Advertising company:' %}
            <li><em> {{ object.advertising_company }} </em></li>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button type="submit" class="button">To active</button>
        </form>
    </div>

    <div>
        {% url 'clients:client_list' as url_list_client %}
        {% blocktranslate %}
            <br>
            <a href="{{ url_list_client }}">
                <button class="button button_blue">Back</button>
            </a>
        {% endblocktranslate %}
    </div>
{% endblock %}