{% extends 'base.html' %}

{% block title %}
    Confirm delete {{ object.pk }}
{% endblock %}

{% block name_page %}
    Confirm
{% endblock %}

{% block body %}
    <h3>Are you sure you want to delete</h3>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Delete</button>
        </form>
    </div>
    <p><a href="{% url 'advertising_companies:advertising_company_details' pk=object.pk %}">Back to advertising company</a></p>
{% endblock %}

