{#{% extends 'django_crm/templates/base.html' %}#}
{% extends 'base.html' %}

{% block title %}
    Advertising companies list
{% endblock %}

{% block body %}
    <h1>Advertising companies list:</h1>
    <div>
        <ol>
            {% for advertising_company in object_list %}
                <div>
                    <li>
                    <p><a href="{% url 'advertising_companies:advertising_company_details' pk=advertising_company.pk %}">{{ advertising_company.name }}</a></p>
                    </li>
                </div>

            {% empty %} No advertising companies yet
            {% endfor %}
        </ol>
    </div>

{#    {% if perms.services.add_service %}#}
        <div>
            <a href="{% url 'advertising_companies:advertising_company_create' %}">Create a new advertising company</a>
        </div>
{#    {% endif %}#}

{% endblock %}
