{% extends 'base.html' %}

{% block title %}
    Advertising companies list
{% endblock %}

{% block name_page %}
    Advertising companies
{% endblock %}

{% block body %}
    <h3>List:</h3>
    <div>
        <ol>
            {% for advertising_company in object_list %}
                <div>
                    <li>
                        <p>
                        <form method="get"
                              action="{% url 'advertising_companies:advertising_company_archived' pk=advertising_company.pk %}">
                            <a href="{% url 'advertising_companies:advertising_company_details' pk=advertising_company.pk %}">{{ advertising_company.name }}</a>
                            <button type='submit'>Delete</button>
                        </form>
                        </p>
                    </li>
                </div>
            {% empty %} No advertising companies yet
            {% endfor %}
        </ol>
    </div>

    {#    {% if perms.services.add_service %}#}
    <div>
        <a href="{% url 'advertising_companies:advertising_company_create' %}">Create a new advertising company</a>
    </div>
    {#    {% endif %}#}

{% endblock %}
