{% extends 'base.html' %}

{% load i18n %}

{% block title %}
    {% translate 'Detail advertising company' %} #{{ object.pk }}
{% endblock %}

{% block name_page %}
    Detail advertising company
{% endblock %}

{% block body %}
    <div>
        {% translate 'Name: ' %} <strong>{{ object.name }}</strong>
        <p>{% translate 'Description:' %} <em> {{ object.description }}</em></p>
        <p>{% translate 'Promotion:' %} <em> {{ object.promotion }}</em></p>
        <p>{% translate 'Budget:' %} <em> {% firstof object.budget 0 %} </em></p>
        Services in advertising company:
        <ol>
            {% for services in object.services.all %}
                <li><p>Name: {{ services.name }}, price: {{ services.price }}</p></li>
            {% endfor %}
        </ol>
    </div>

    {% url 'advertising_companies:advertising_company_update' pk=object.pk as url_update_advertising_company %}
    {% url 'advertising_companies:advertising_company_archived' pk=object.pk as url_archive_advertising_company %}

    {% blocktranslate %}
        <div>
            <br>
            <a href="{{ url_update_advertising_company }}">
                <button class="button">Update</button>
            </a>
        </div>
        <div>
            <br>
            <a href="{{ url_archive_advertising_company }}">
                <button class="button button_red">Delete</button>
            </a>
        </div>
    {% endblocktranslate %}

    <div>
        {% url 'advertising_companies:advertising_companies_list' as url_list_service %}
        {% blocktranslate %}
            <br>
            <a href="{{ url_list_service }}">
                <button class="button button_blue">Back</button>
            </a>
        {% endblocktranslate %}
    </div>
{% endblock %}