<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<header class="header">
    {% if user.is_authenticated %}
        <div class="logout">
            <a href={% url 'authorization:logout' %}>
                <button class="button button_gray">Logout</button>
            </a>
        </div>
        <div class="user_name">
            <p>
                {% if user.first_name or user.last_name %}
                    {{ user.first_name }} {{ user.last_name }}
                {% else %}
                    {{ user.username }}
                {% endif %}
            </p>
        </div>
    {% endif %}
    <div class="name_app"><p>CRM system advertising services</p></div>
</header>

<body>
<div class="workspace">
    <div class="menu_nav menu">
        {% if user.is_authenticated %}
            <div>
                <a style="display: block" href={% url 'customer_statistics:statistics' %}>Statistics</a>
            </div>

            {% if user.is_superuser or perms.services.view_service %}
                <br>
                <div>
                    Services
                    <a style="display: block" href={% url 'services:service_list' %}>list</a>
                    <a style="display: block" href={% url 'services:service_create' %}>create</a>
                </div>
            {% endif %}

            {% if user.is_superuser or perms.advertising_companies.view_advertisingcompany %}
                <br>
                <div>
                    Advertising companies
                    <a style="display: block" href={% url 'advertising_companies:advertising_companies_list' %}>list</a>
                    <a style="display: block"
                       href={% url 'advertising_companies:advertising_company_create' %}>create</a>
                </div>
            {% endif %}

            {% if user.is_superuser or perms.clients.view_client %}
                <br>
                <div>
                    Clients
                    <a style="display: block" href={% url 'clients:client_list' %}>list</a>
                    <a style="display: block" href={% url 'clients:client_create' %}>create</a>
                </div>
            {% endif %}

            {% if user.is_superuser or perms.clients.active_view_client %}
                <br>
                <div>
                    Active clients
                    <a style="display: block" href={% url 'clients:client_active_list' %}>list</a>
                </div>
            {% endif %}

            {% if user.is_superuser or perms.contracts.view_contract %}
                <br>
                <div>
                    Contracts
                    <a style="display: block" href={% url 'contracts:contract_list' %}>list</a>
                    <a style="display: block" href={% url 'contracts:contract_create' %}>create</a>
                </div>
            {% endif %}
        {% endif %}
    </div>

    <div class="group_Npage_Oinfo">
        <div class="name_page">
            <p>
                {% block name_page %}
                {% endblock %}
            </p>
        </div>
        <div class="output_info">
            {% block body %}
            {% endblock %}
        </div>
    </div>

    <div class="bside">
    </div>

</div>

<footer>
    @2024
</footer>

</body>
</html>