{% extends 'base.html' %}

{% load i18n %}

{% block title %}
    {% translate 'Detail service' %} #{{ object.pk }}
{% endblock %}

{% block name_page %}
    Detail service
{% endblock %}

{% block body %}
    <div>
        {% translate 'Name: ' %} <strong>{{ object.name }}</strong>
        <p>{% translate 'Description:' %} <em> {{ object.description }}</em></p>
        <p>{% translate 'Created at:' %} <em> {{ object.created_at }} </em></p>
    </div>

    {% if perms.services.change_services or perms.services.delete_services %}
        {% url 'services:service_update' pk=service.pk as url_update_service %}
        {% url 'services:service_archived' pk=service.pk as url_archive_service %}

        {% blocktranslate %}
        <div>
            <a href="{{ url_update_service }}">Update service</a>
        </div>
            <div>
            <a href="{{ url_archive_service }}">Delete service</a>
        </div>
        {% endblocktranslate %}
    {% endif %}

    <div>
        {% url 'services:services_list' as url_list_service %}
        {% blocktranslate %}
        <a href="{{ url_list_service }}">Back to Services list</a>
        {% endblocktranslate %}
    </div>
{% endblock %}
