{% extends 'base.html' %}

{% block title %}
    Services-list
{% endblock %}

{% block name_page %}
    Services
{% endblock %}

{% block body %}
    <h3>List:</h3>
    <div>
        <ol>
            {% for service in object_list %}
                <div>
                    <li>
                    <p><a href="{% url 'services:service_details' pk=service.pk %}">{{ service.name }}</a></p>
                    </li>
                </div>

            {% empty %} No services yet
            {% endfor %}
        </ol>
    </div>

{#    {% if perms.services.add_service %}#}
        <div>
            <a href="{% url 'services:service_create' %}">Create a new service</a>
        </div>
{#    {% endif %}#}

{% endblock %}
