{% extends 'base.html' %}

{% block title %}
    Update service
{% endblock %}

{% block name_page %}
    Update service
{% endblock %}

{% block body %}
    <h3>Enter the data:</h3>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update</button>
        </form>
    </div>
    <div>
        <br>
        <a href="{% url 'services:service_details' pk=object.pk %}">Back to service #{{ object.pk }}</a>
    </div>
{% endblock %}