{% extends 'base.html' %}

{% load i18n %}

{% block title %}
    {% translate 'Detail advertising company' %} #{{ object.pk }}
{% endblock %}

{% block name_page %}
    Detail advertising company
{% endblock %}

{% block body %}
    <div>
        {% translate 'Name: ' %} <strong>{{ object.name }}</strong>
        <p>{% translate 'Description:' %} <em> {{ object.description }}</em></p>
        <p>{% translate 'Promotion:' %} <em> {{ object.promotion }}</em></p>
        <p>{% translate 'Budget:' %} <em> {% firstof object.budget 0 %} </em></p>
        Services in advertising company:
        <ol>
            {% for services in object.services.all %}
                <li><p>Name: {{ services.name }}, price: {{ services.price }}</p></li>
            {% endfor %}
        </ol>
    </div>

    {% if perms.advertising_companies.change_advertising_companies or perms.advertising_companies.delete_advertising_companies %}
        {% url 'advertising_companies:advertising_company_update' pk=object.pk as url_update_advertising_company %}
        {% url 'advertising_companies:advertising_company_archived' pk=object.pk as url_archive_advertising_company %}

        {% blocktranslate %}
            <div>
                <p><a href="{{ url_update_advertising_company }}">Update advertising company</a></p>
            </div>
            <div>
                <p><a href="{{ url_archive_advertising_company }}">Delete advertising company</a></p>
            </div>
        {% endblocktranslate %}
    {% endif %}

    <div>
        {% url 'advertising_companies:advertising_companies_list' as url_list_service %}
        {% blocktranslate %}
            <p><a href="{{ url_list_service }}">Back to advertising companies list</a></p>
        {% endblocktranslate %}
    </div>
{% endblock %}
